/* Write your code here. */
.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px;
}
.gallery-container {
  display: flex;
  flex-direction: column;
  width: 80%;
}
.image {
  width: 80%;
  height: 70%;
}
@media screen and (min-width: 768px) {
  .image {
    width: 80%;
    height: 70%;
  }
}

.heading {
  color: #1e293b;
  font-size: 24px;
  font-weight: 500;
  font-family: 'Roboto';
}
.text {
  color: #64748b;
  font-size: 12px;
  font-family: 'Roboto';
}
.thumb-nail-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0px;
  list-style: none;
}
